body {
  margin: 0;
}
.main-div {
    position: relative;
}
a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
a:hover {
  color: #cccccc;
}
#logo {
  height: 150px;
  width: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0px;
  margin-right: 0px;
}
nav {
  margin-top: 20px;
}
.left {
  width: 15%;
  height: 100vh;
  float: left;
  background-color: #001433;
  color: white;
  text-align: center;
  padding-top: 20px;
}
.right {
  width: 85%;
  float: left;
  height: auto;
  min-height: 100vh;
  background-color: #F5E6D3;
}
#background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  clear: both;
  background-color: #ccc;
  text-align: center;
  height: 4vh;
}
.quote {
  text-align: left;
  font-family: "Stoic Script";
  font-size: 20px;
  color: #C68B59;
  line-height: 2;
}
.mission-about {
text-align: left;
font-family: "Georgia";
font-size:20px;
color: #4D3A2E;
line-height: 2;
}

.mission-title {
  text-align: center;
  font-family: "Futura";
  font-size: 40px;
  color: #38220F;
}

.leftmain {
  width: 30%;
  position: relative;
  color: white;
  padding: 20px;
  text-align: center;
}
.bg-img {
  width: 85%;
  height: 100%;
  object-fit: cover;
}
h1 {
z-index: 1;
}
.menu-title{
    color: #6F4E37;
    text-align: center;
    font-family: Playfair Display;
}
.item-name{
font-family: Raleway;
color: #2E2E2E;
}
.img-border{
border: 2px solid #D9C2A7;
padding: 5px;
min-width: 200px;
max-width: 200px;
text-align: center;
}
.menu-sub-title{
color: #C68B59;
font-family: Playfair Display;
}
.brown-hr{
border: 1px solid #87571b;
}
.next-menu-btn {
position: fixed;
bottom: 20px;
right: 20px;
}
.back-menu-btn {
position: fixed;
bottom: 20px;
}
.cart-btn {
position: fixed;
bottom: 70px;
left: 70px;
background-color: #eda600;
}
.cart-btn:hover {
background-color: #ffb300;
}
.add-item {
border: solid 2px #C68B59;
color: #C68B59;
}
.add-item:hover {
background-color: #C68B59;
color: white;
}
.cart-empty {
color: #bdbdbd;
}
.cart-table {
width: 100%;
}
td, th {
border: 1px solid #D9C2A7;
}
th {
font-family: Playfair Display;
color: #6F4E3;
background-color: #FAF3EB;
}
td {
font-family: Lato;
color: #2E2E2E;
background-color: #FDF8F2;
}
.total {
color: #C68B59;
font-family: Playfair Display;
}
.btn-remove-item {
width: 100%;
height: 100%px;
}
.pay-btn {
position: absolute;
bottom: 20px;
right: 20px;
}
.payment-input-field {
border: 2px solid #D9C2A7;
background-color: white;
color: #2E2E2E;
height:40px;
width:350px;
margin-bottom: 20px;
}
.payment-input-field::placeholder {
color: #888888;
}
.payment-dropdown {
width: 100px;
height: 40px;
border: 2px solid #D9C2A7;
margin-bottom: 20px;
background-color: white;
color: #5e5e5e;
}
option {
border: 2px solid #D9C2A7;
}
.payment-input {
color: #6F4E37;
font-family: Helvetica;
margin-bottom: 5px;
}
.back-btn {
position: absolute;
left: 20px;
bottom: 20px;
}
.contact-us-para {
font-family: Open Sans;
color: #7A6A58;
}
.contact-icon {
height: 20px;
width: 20px;
}
.contact-label {
color: #6B4226;
font-family: Open Sans;
}
.contact-detail {
color: #3B3B3B;
font-family: Open Sans;
}
.payment-success {
color: #1F2A44;
Font: Playfair Display;
}
.thank-message {
font: Open Sans;
color: #6F4E37;
}
.amt {
color: #2E7D32;
font: Poppins;
}
.back-to-home-btn {
background-color: #1F2A44;
color: #FFFFFF;
font: Lato;
}
.back-to-home-btn:hover {
background-color: #6F4E37;
}
.user-actions {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 10;
    display: flex;
    gap: 15px;
    align-items: center;
}
.btn-register:link, .btn-register:visited, .btn-register:hover, .btn-register:active {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E48238;
    font-weight: 400;
    font-size: 20px;
}
.btn-register:hover, .btn-register:active {
    background-color: #CC6A20;
}
.btn-login:link, .btn-login:visited, .btn-login:hover, .btn-login:active {
    color: #38220F;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}
.btn-login:hover, .btn-login-active {
    background-color: #38220F;
    color: #F8F4E1;
}

.register-form {
    max-width: 450px;
}
.form-control:focus {
    box-shadow: 0 0 5px #E48238;
    border-color: #C9B194;
    background-color: #F8F4E1;
    color: #38220F;
}
.form-control {
    background-color: #F8F4E1;
    border-color: #C9B194;
}
.form-label {
    color: #38220F;
    margin-bottom: 10px;
}
.register-form {
    border: 1px solid #C9B194;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.btn-register-form {
  text-decoration: none;
  color: #fff;
  background-color: #E48238;
  font-weight: 400;
  font-size: 20px;
  border: none;
}
.btn-register-form:hover,
.btn-register-form:active {
  background-color: #CC6A20;
  color: #FFFFFF
}