{% extends "base.html" %}
{% block title %} Menu {% endblock %}
{% block content %}
<h1 class="menu-title fs-1 fw-bolder pt-3 pb-4"></h1>
<h2 class="menu-sub-title fs-3 fw-bold text-center">Desserts</h2>
<div class="ms-5 d-flex flex-wrap mb-0"  >
  {% for dessert in menu_desserts %}
    <div class="img-border p-1  text-center" style="max-width: 200px;">
      <img src="{{ url_for('static', filename='images/' ~ dessert.image_url) }}" alt={{dessert.name}} class="mb-3" style="height:150px;">
      <p class="item-name"> {{dessert.name}} </p>
      <p class="item-name">£{{dessert.price}}</p>
      <form action="{{ url_for('add_cart') }}" method="post">
        <input type="hidden" name="item" value="{{dessert.name}}">
        <input type="hidden" name="price" value="{{dessert.price}}">
        <button type="submit" class="add-item">Add to cart</button>
      </form>
    </div>
  {% endfor %}
</div>
<a href="{{ url_for('menu_2') }}" class="btn btn-outline-dark btn-lg back-menu-btn mt-2">⬅</a>
<a href="{{ url_for('cart') }}" class="btn cart-btn rounded-circle btn-lg">🛒</a>
{% endblock %}
