{% extends "base.html" %}
{% block title %} Privacy Policy {% endblock %}
{% block content %}
<h1 class="menu-title">Privacy Policy</h1>
<div> 
    <p class="ms-3 mt-3 mb-3">At Driftwood Brew Co, your privacy is important to us. This Privacy Policy explains how we collect, use, and protect your personal information when you use our website.</p>

    <section class="ms-3 mt-3 mb-3">
    <span style="font-weight:500">1. Information We Collect</span><br>

    We may collect the following information:
    <ul>
    <li>Name, email address, and contact details you provide when registering or contacting us. </li>

    <li>Payment information if you place an order.</li>

    <li>Information automatically collected through cookies and analytics tools (like browser type, IP address, pages visited).</li>
    </ul>
    </section>
    <section class="ms-3 mt-3 mb-3">
    <span style="font-weight:500">2. How We Use Your Information</span><br>

    We use your information to:
    <ul>
    <li>Process orders and payments.</li>
    <li>Improve our website and services.</li>
    <li>Comply with legal obligations.</li>
    </ul>
    </section>
    <section class="ms-3 mt-3 mb-3">
   <span style="font-weight:500"> 3. Sharing Your Information</span><br>
    We do not sell your personal data.
    </section>
    <section class="ms-3 mt-3 mb-3">
    <span style="font-weight:500">4. Your Rights</span><br>

    Depending on your location, you may have the right to:
    Request correction or deletion of your data.

    To exercise your rights, contact us at <span style="font-weight: 600; color:#001433">driftwoodbrew@co.uk</span>.
    </section>
</div>
{% endblock %}